<div class="porra">
  <div class="p-img-bg"></div>

  <div class="p-color-bg">
    <div class="porra-content">
      <h1>Porra</h1>
      <p>Considerado un deporte de alto rendimiento, la animacion integra difetentes tecnicas y disciplinas como la gimnasia, el baile y las acrobacias en una rutina. <br> Requiere un alto nivel de disciplina, rendimiento y concentracion para llevarse acabo con precision</p>
    </div>
    <div class="mixto-7">
      <h2>Mixto 7</h2>
      <p>El nivel de dificultad mas alto. Los standares de ejecucion, comlejidad y limpieza en la rutina llevan las capacidades del deportista al limite</p>
    </div>
    <div class="mixto-7">
      <h2>Mixto 7</h2>
      <p>El nivel de dificultad mas alto. Los standares de ejecucion, comlejidad y limpieza en la rutina llevan las capacidades del deportista al limite</p>
    </div>

</div>
