.footer{
  width: 100%;
background: linear-gradient(0deg, rgba(11,11,19,1) 16%, rgba(14,13,42,1) 47%, rgba(27,20,142,1) 89%);
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(4, 255, 50);
  padding: 0 10px;
}

.footer-content img{
  width: 60px;
}

.footer-links{
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 10px 15px;
}
