.footer{
  width: 100%;
background: linear-gradient(0deg, rgba(11,11,19,1) 16%, rgba(14,13,42,1) 47%, rgba(27,20,142,1) 89%);
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(234, 255, 4);
  font-weight: 700;
  padding: 0 10px;
}

.footer-content img{
  width: 60px;
}

.footer-links{
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 10px 15px;
}

.footer-links a:hover{
  color: rgb(0, 102, 255);
  text-decoration: underline;
}

@media (max-width: 760px){
  .footer-content{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }

  .footer-links{
   flex-direction: column;
   align-items: center;
   gap: 10px;
  }
}
