.top-menu{
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  }

  .top-menu-logo{
    display: flex;
    align-items: center;
  }

  .top-menu-logo img{
    max-width: 100px;
    height: auto;
  }

  .navbar-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
  }

  .icon-bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  .navbar-links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navbar-links li{
    margin-left: 20px;
  }

  .navbar-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .navbar-links a:hover{
    color: rgb(16, 99, 243);
  }

  .top-menu-base{
    height: 70px;
    max-width: 100%;
    padding: 0;
    background-image: url('../../../../public/assets/griego.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    margin-bottom: 10px;
    margin-top: -40px;
  }

  .navbar-links a.active{
    color: blue;
    font-weight: 700;
  }


  @media (max-width: 600px) {

    .top-menu-base{
      height: 50px;
    }

    .navbar-toggle {
      display: flex;
    }

    .navbar-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background: rgb(1, 1, 32) ;
      z-index: 1000;
      position: absolute;
      left: 0;
      top: 100px;
      transition: max-height 0.5s ease-in-out;
    }

    .navbar-links.active {
      max-height: 300px;
    }

    .navbar-links li {
      margin: 10px 0;
      text-align: center;
    }

    .navbar-links a:hover{
    color: rgb(16, 99, 243);
    text-decoration: underline;
  }
  }

