.top-menu{
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom,#0000 ,#3333334d 0%,#000 70%), url('../../../../public/assets/olimpo.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .top-menu-logo{
    display: flex;
    align-items: center;
  }

  .top-menu-logo img{
    max-width: 100px;
    height: auto;
  }

  .navbar-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
  }

  .icon-bar{
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navbar-toggle.active .icon-bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
    background-color: red;
  }

  .navbar-toggle.active .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .icon-bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
    background-color: red;
  }

  .navbar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }



  .nav-links-one,
  .nav-links-two {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .nav-links-one{
    margin-bottom: 15px;
  }

  .nav-links-one li,
  .nav-links-two li{
    position: relative;
  }



  .nav-links-two a{
    text-decoration: none;
    color: rgb(16, 99, 243);
  }

  .nav-links-two a:hover,
  .nav-links-two a.active{
    color:#2af801c9 ;
  }


  .dropdown-toggle {
    background: none;
    border: none;
    color: rgb(68, 255, 0);
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }


  .dropdown-toggle.rotate {
    transform: rotate(180deg);
    color: red;
  }


  .dropdown {
    position: absolute;
    top: 170%;
    left: -50%;
    background-color:none;
    padding: 15px;
    box-shadow: rgb(3, 214, 17) 0px 0px 0px 3px;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 17, 112);
  }

  .dropdown p {
    margin: 0;
    font-size: 18px;
  }

  .nav-links-one a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

  .nav-links-one a:hover{
    color: rgb(0, 221, 255);
  }

  .top-menu-base{
    height: 70px;
    max-width: 100%;
    padding: 0;
    background-image: url('../../../../public/assets/griego.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    margin-bottom: 10px;
    margin-top: -40px;
  }

  .nav-links-one a.active{
    color: rgb(0, 221, 255);
  }

  .toggle-nav-links-two{
    width: 30px;
    height: 30px;
    background:url('../../../../public/assets/flecha.png');
    background-size: cover;
    border: none;
    font-size: 2px;
    transition: rotate .3s ease;
  }

  .toggle-nav-links-two:hover{
    scale: 1.2;
    transition: scale .1s ease-in-out;
  }

  .toggle-nav-links-two.visible{
    transform: rotate(180deg);
  }


@media (min-width: 768px){
  .nav-links-two{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  .nav-links-two.visible{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navbar-toggle{
    display: none;
  }
}

  @media (max-width: 768px) {

    .top-menu-base{
      height: 70px;
    }

    .navbar-toggle {
      display: flex;
    }

.toggle-nav-links-two{
  display: none;
}


    .nav-links-one{
      flex-direction: column;
    }

    .nav-links-two{
      flex-direction: column;
    }

    .navbar-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background: rgb(1, 1, 32) ;
      z-index: 1000;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(118px);
      transition: max-height  0.5s ease-in-out;
    }

    .navbar-links.active {
      max-height: 100%;
    }

    .navbar-links li {
      margin: 10px 0;
      text-align: center;
    }

    .navbar-links a:hover{
    color: rgb(16, 99, 243);
    text-decoration: underline;
  }

   .dropdown{
    position: static;
    height: 80px;
    padding: 10px;
    box-shadow: none;
    background-color: unset;
    transition: all ease-in-out;
  }

  .dropdown p{
    font-size: 16px;
  }

  }

