.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  height: 500px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
  filter: grayscale(50%);
}

.carousel-caption {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}


