<nav class="top-menu">
  <div class="top-menu-logo">
    <img [src]='item.logo' alt="logo">
  </div>
  <ul class="navbar-links" [class.active]="isMenuOpen">
    <li><a class="active" href="/inicio">Deporte</a></li>
    <li><a routerLink="/about">Nosotros</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
  <button class="navbar-toggle" (click)="toggleMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </nav>
  <div class="top-menu-base">
  </div>

