.about{
max-width: 100%;

}

.about-top{
  padding: 0 50px;
}

.about-top-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about-top-title h1{
 font-size: 3rem;
 font-weight: 700;
 letter-spacing: 5px;
 font-family: 'Roboto', sans-serif;
 transition: font-family 0.5s ease-in-out, opacity 0.5s ease-in-out;
 color: white;
}

.about-top-title h1.griego{
  font-family: 'Georgia', sans-serif;
}

.about-top-title img{
  margin-top: -85px;
  max-width: 550px;
}


.card-box{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 2rem;
  justify-content: center;
background: linear-gradient(63deg, rgba(14,13,42,1) 32%, rgba(27,20,142,1) 32%, rgba(14,13,42,1) 70%, rgba(17,15,67,1) 70%);
padding: 15px 0;
box-shadow: rgba(142, 224, 141, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  display: flex;
}
