.about{
max-width: 100%;
padding: 10px 100px;
}

.about-top-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about-top-title h1{
 font-size: 3.5rem;
 font-weight: 700;
 letter-spacing: 5px;
 font-family: 'Arial', sans-serif;
 transition: font-family 0.5s ease-in-out, opacity 0.5s ease-in-out;
 color: white;
}

.about-top-title h1.griego{
  font-family: 'Georgia', sans-serif;
}

.about-top-title img{
  margin-top: -85px;
  width: 550px;
}

.about-top p{
color:white;
font-family: 500px;
}
