.gimnasia-main{
  background-color: rgb(0, 0, 129);
}

.gimnasia{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.g-img-bg{
  flex: 1;
  background-image: url('../../../../../public/assets/gimnasiaBg.png');
  background-size: cover;
  background-position: center;
}

.g-color-bg{
  flex: 1;
  background: linear-gradient(63deg, rgba(194,255,164,1) 22%, rgba(168,252,252,1) 96%);
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gimnasia-content{
  max-width: 80%;
  color: white;
  background-color: rgb(47, 255, 68);
  padding: 0 10px;
  box-sizing:content-box ;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.gimnasia-content h1{
  font-size: 20px;
}

.gimnasia-content p{
  font-size: 12px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to bottom,#0000,#3333334d 10%,#000);
}

@media (min-width:768px){
  .gimnasia{
    flex-direction: row;
  }

  .g-img-bg,
  .g-color-bg{
    flex: 1;
  }

  .gimnasia-content{
    max-width: 50%;
    padding: 0 40px;
  }

  .gimnasia-content h1{
    font-size: 50px;
  }

  .gimnasia-content p{
    font-size: 15px;
  }
}
