.home{
  max-width: 100%;
  padding: 10px 100xp;
}

.home-top-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.home-top-title h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: 'Roboto', sans-serif;
  transition: font-family 0.5s ease-in-out, opacity 0.5s ease-in-out;
  color: white;
}

.home-top-title h1.griego{
  font-family: 'Georgia', sans-serif;
}

.home-top-title img{
  max-width: 500px;
  margin-top: -85px;
}

.home-content{
  max-width: 100%;
  padding: 50px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  display: flex;
  justify-content: center;
}

.home-content img{
  height: 500px;
}



