<div class="timeline">

  <div id="timeline-line" class="timeline-line"></div>

  <div class="timeline-item" *ngFor="let item of timelineItem; let i = index"
  [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0, 'expanded' : item.expanded}"
  (click)="toggleItem(i)">
<div class="timeline-content">
  <h2>
    <span class="timeline-year">{{item.year}}</span>
    {{item.title}}
    <span class="expand-icon">{{item.expanded ? '▲' : '▼'}}</span>
  </h2>
  <p *ngIf="item.expanded">{{item.description}}</p>
</div>
</div>

</div>
