/* You can add global styles to this file, and also import other style files */

html, body {
  background: rgba(0, 0, 0, 0.889);
background-repeat: no-repeat;
}
body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif; }
