<div class="service">
  <div class="service-top">
    <h1 [class.griego]="isSpanish">{{tileText}}</h1>
    <img src="../../..//public/assets/hornamenta.png" alt="hornamenta">
  </div>
  <div class="service-content">
    
    <div class="s-card">
      <img src="" alt="">
      <div class="s-card-content">
      <h2>Gimnasia</h2>
      <p>El programa de gimnasia, desde principiante hasta experto
          <button>Entrenar</button>
        </p>
      </div>
    </div>
      </div>
<router-outlet></router-outlet>
